
<div class="container" id="container" [ngClass]="{'right-panel-active' : toggleButton}" >
	<div class="form-container sign-up-container">
		<form #signUpForm="ngForm">
			<h1>Create Account</h1>
			
            <input type="text" 
            placeholder="Name" 
            />
			
            <input type="email" 
            placeholder="Email" 
            />
			
            <input type="password" 
            placeholder="Password" 
            />
			
            <button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form #signInForm="ngForm">
			<h1>Sign in</h1>
			
            <input type="email" 
            placeholder="Email" 
            />
			
            <input type="password" 
            placeholder="Password" 
            />

			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<button class="ghost" id="signIn" (click)="onToggle()">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>New User?</h1>
				<br />
				<button class="ghost" id="signUp" (click)="onToggle()">Sign Up</button>
			</div>
		</div>
	</div>
</div>








<!-- <div class="container">
    <div class="form-container sign-in-container">
        <form #loginForm="ngForm">
            <h1>Sign in</h1>
            <label for="username">Username</label>
            <input type="text" 
            placeholder="Username"
            id="username" 
            name = "username"
            [(ngModel)] = "username"
            />
            <label for="password">Password</label>
            <input type="password" 
            placeholder="Password"
            id="password"
            name = "password"
            [(ngModel)] = "password"
            />
            
            <button
            (click)="onSubmit(loginForm.value)"
            >Sign In</button>
        </form>
        
    </div>
</div> -->

