<div style="text-align: center;">
  <h1 class="app-title">To-Do List</h1>
</div>
<div class="container">
  Add a todo...
  <br>
  <input  type="text"
   class="input-text"
   name=""
   placeholder="Type a todo" 
   [(ngModel)]="todoValue"
   (keyup.enter)="addItem()" 
   />
  <button class="add-btn" (click)="addItem()"> Add to-do</button>
  <div class="list">
    <ul>
      <li *ngFor="let item of itemList">
        <input 
        type="checkbox" 
        name="isDone" 
        id="" 
        [(ngModel)]="item.isDone"
        />
        {{item.value}}
        
        <button class="btn" (click)="deleteItem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
